body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #51d451;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem 0;
}

.hero {
    background-color: #e2fbfd;
    padding: 2rem;
    text-align: center;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.feature-item {
    background-color: #e2fbfd;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 8px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
